.main-wrapper {
    margin: 0;
    padding: 0;
}

.home-main-wrapper {
    margin: 0;
    padding: 0;
    font-family: Arial;
    padding: 20px;
    background: #918f8f;
}

* {
    box-sizing: border-box;
}

.row:after {
    content: "";
    display: table;
    clear: both;    
}

.home-left-side {
    float: left;
    width: 75%;
}

.home-right-side {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.card-image {
    max-width: 100%;
    max-height: 50%;
}

.carousel {
    max-width: 20%;
    margin: 10px auto;
    border: 2px solid #ccc;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.slider {
    height: 100%;
    display: flex;
    width: 300%;
    border: 1px solid red;
    transition: all 0.3s;
}

.blog-card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }

.standard-card {
    flex-basis: 100%;
    text-align: center;
}

.product-card {
    
    text-align: center;
    display: block;
    border: 1px solid red;
}

.card-text {
    align-content: center;
}

.card-title {
    align-content: center;
}

.controls .arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.controls ul {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.controls ul li {
    width: 14px;
    height: 14px;
    border: 2px solid #333;
    border-radius: 50px;
    margin: 10px;
    background-color: #333;
    cursor: pointer;
}

.controls ul li.selected {
    background-color: transparent;
}

.arrow.right {
    right: 10px
}

.arrow.left {
    left: 10px
}

.sign-in-container {
    background-color: aqua;
    border: 2px solid rgb(7, 50, 190);
}

.login-container {
    align-content: center;
    margin: 10px
}

.password-container {
    align-content: center;
    margin: 10px
}