<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="home-wrapper">
            <div class="row">
                <div class="home-left-side">
                    <div class="standard-card">
                        <img src="../static/images/apple.jpg" alt="">
                        <h5>Title</h5>
                        <p>lorem ipsum</p>
                    </div>
                </div>
                <div class="home-right-side">
                    <div class="standard-card">
                        <img src="../static/images/apple.jpg" alt="">
                        <h5>Title</h5>
                        <p>psum lorem</p>
                    </div>
                </div>
            </div>
        </div>
        <h1 style="text-align: center;"><a href="http://127.0.0.1:8000/blog/Search">Home Site</a></h1>
    </body>
</html>