<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="home-main-wrapper">
            <div class="row">
                <div class="home-left-side">
                    <div class="card">
                        <img src="../static/images/apple.jpg" alt="">
                        <h5>Title</h5>
                        <p>lorem ipsum</p>
                    </div>
                </div>
                <div class="home-right-side">
                    <div class="card">
                        <img class="card-image" src="../static/images/apple.jpg" alt="">
                        <h5 class="card-title">Title</h5>
                        <p class="card-text">psum lorem</p>
                    </div>
                </div>
            </div>
        </div>
        <h1 style="text-align: center;"><a href="blog/Search">Home Site</a></h1>
        <h1 style="text-align: center;"><a href="blog/Login">Login Site</a></h1>
    </body>
</html>