<html>
<head>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="main-wrapper">
        <div class="product-parameters">
            <div class="product-parameter-card">
                <p>Product description</p>
            </div>
            <div class="product-parameter-card">
                <p>Write product description</p>
            </div>
            <div class="product-parameter-card">
                <p>Add product image</p>
            </div>
            <div class="product-parameter-card">
                <p>Product description</p>
            </div>
        </div>
    </div>
    
</body>
</html>