<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <h1></h1>
        <div class="main-wrapper">
            <div class="sign-in-container">
                <div class="login-container">
                    <label for="">Login</label>
                    <input type="text" name="" id="input-login">
                </div>
                <div class="password-container">
                    <label for="">Password</label>
                    <input type="text" name="" id="input-password">
                </div>
            </div>
        </div>

        
    </body>
</html>