<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <h1></h1>
        <div class="main-wrapper">
            <div class="sign-in-container">
                <iframe name="dummyFrame" id="dummyFrame" style="display: none;"></iframe>
                <form action="../API/Login" method="POST" target="dummyframe">
                    <div class="login-container">
                        <label for="">Login</label>
                        <input type="text" name="input-login" id="input-login">
                    </div>
                    <div class="password-container"> 
                        <label for="">Password</label>
                        <input type="text" name="input-password" id="input-password">
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

        
    </body>
</html>