<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        
    </head>
    <body>
        
        <div class="main-wrapper">
            <div class="carousel">
                <div class="slider" data-box-name="Home Slider" data-box-id="122HomeSlider">

                </div>
                <div class="controls">
                    <span class="arrow left">left</span>
                    <span class="arrow right">right</span>
                    <ul>

                    </ul>
                </div>
                
            </div>
            <script src="../static/carousel.js"></script>
            <section class="searching-product">
                <h1 style="text-align: center;">Product search</h1>
                
                <form method="post" action="../static/productSearching.js">
                    <input type="text" name = "input-product-name"> 
                    
                    <button type="submit">Search</button>
                </form>
                <section class="searching-result">
                    <div class="card"></div>
                </section>
            </section>  
        </div>   
    </body>
</html>