<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        
    </head>
    <body>
        
        <div class="main">
            <div class="carousel">
                <div class="slider" data-box-name="Home Slider" data-box-id="122HomeSlider">

                </div>
                <div class="controls">
                    <span class="arrow left">left</span>
                    <span class="arrow right">right</span>
                    <ul>

                    </ul>
                </div>
                
            </div>
            
            
        </div>
        <script src="../static/carousel.js"></script>

        <h1 style="text-align: center;">Shop search</h1>
         
    </body>
</html>