<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        
    </head>
    <body>
        
        <div class="main-wrapper">
            <div class="carousel"></div>
            <script src="../static/carousel.js"></script>
            <section class="searching-product">
                <h1 style="text-align: center;">Product search</h1>
                <form method="post" action="../API/product-search">
                    <input type="text" id="input-product-name" name = "input-product-name"> 
                    
                    <button type="submit">Search</button>
                </form>
                <section class="searching-result">
                    <div class="standard-card">
                        <img class="card-image" src="../static/images/default.jpg" alt="">
                        <h5 class="card-title">title</h5>
                        <p class="card-text">text</p>
                    </div>
                </section>
                <h1 style="text-align: center;">Add product!</h1>
                <form action="../API/add-product" method="post">
                    <label for="">Name:</label>
                    <input type="text" name="input-product-name" id="input-product-name">
                    <label for="">Price:</label>
                    <input type="text" name="input-product-price" id="">
                    <label for="">Description:</label>
                    <input type="text" name="input-product-description" id="">
                    <label for="">Image scr:</label>
                    <input type="text" name="input-product-image-source" id="">
                    <button type="submit">Add</button>
                </form>
            </section>  
        </div>   
    </body>
</html>